.app {
    width: 100vw;
    /* height: 100vh; */
    background-image: linear-gradient(to right, #051421, #042727);
}


/* @media only screen and (max-width: 415px) {
    .app{
        width: 415px;
    }
} */